# Compiled Java files
*.class

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# IntelliJ build/output directories
out/
target/

# Java archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java crash logs
hs_err_pid*
replay_pid*

# OS files
.DS_Store
Thumbs.db